@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

* {
    color: white;
    font-family: 'Figtree', sans-serif;
    font-weight: 400;
}

a {
  text-decoration: none;
}

a:hover {
  color: yellow;
}

body {
  /*
    background: rgb(59,76,202);
    background: radial-gradient(circle, rgba(59,76,202,1) 0%, rgba(148,187,233,1) 100%);  
  */
  background: rgb(59,76,202);
  background: radial-gradient(circle, rgba(59,76,202,1) 0%, rgba(109,158,217,1) 100%);
  background-repeat: no-repeat; 
  background-position: center;
  background-attachment: fixed;       
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
  width:100%;
}

meter {
  border: none;
  border-radius: 0px;
}

.fade-in { 
  animation: fadeIn 6s; 
}

.id-label {
  margin: 0;
  font-weight: 500;
}

.stat {
  margin-bottom: 2rem;
}

#container-home {
  text-align: center;
}

#flavor {
  font-size: 2rem;
}

#flavor-div {
  margin-top: 6rem;
}

#left-pokedex {
  display: flex;
  flex-direction: column;
}

#login-button {
  background-color: white;
  border-radius: 1.4rem;
  font-weight: 300;
  color: #3B4CCA;
  font-size: 2.2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1.4rem;
  padding-left: 1.4rem;
  text-decoration: none;
}

#login-button:hover {
  font-size: 1.9rem;
}

#login-credits {
  font-size: 1.7rem;
}

#pokedex-background {
  margin: 3rem;
  background: rgb(37,113,156);
  background: linear-gradient(0deg, rgba(37,113,156,1) 0%, rgba(25,71,131,1) 100%);
  border-top: 2rem solid white;
  border-bottom: 2rem solid white;
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}

#right-pokedex {
  display: flex;
  flex-direction: row;
}

#stat-bar {
  width: 8rem;
  height: 8rem;
  margin: auto;
}

#title {
  font-size: 10rem;
  font-weight: 500;
  margin-bottom: 0rem;
}

#type {
  font-size: 1.6rem;
}

#title-caption {
  font-size: 2rem;
}

#name {
  font-size: 4rem;
}

@media screen and (min-width: 961px) and (max-width: 1167px) {
  a {
    text-decoration: underline;
  }

  #title {
    font-size: 8rem;
    margin-top: 7rem;
  }
  #title-caption {
    font-size: 3rem;
  }
}

