<!doctype html>
<html lang="en">

<head>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script>
      function checkReload() {
          if (performance.navigation.type === 1) {
              window.location.href = "/";
          }
      }
      window.onload = checkReload;
  </script>
</head>

<body>
    <div id="container-home">
      <div id="inner-container">
        <div id="login">
          <h1 id="title">POKÉMON.IFY</h1>
          <h2 id="title-caption">What Pokémon are you based on your listening history?</h2>
          <br><br>
          <a id="login-button" href="/login">Spotify Login</a>
        </div>
        <div id="loading" display="none">
          <img id="load-gif">
        </div>
        <div class="info">
          <h4 id="login-credits" >Made by <a id="linkedin" href="https://www.linkedin.com/in/joshua-silva-359756177/">Joshua Silva</a></h4>
          <h5>Disclaimer: This website is not affiliated with, endorsed, sponsored, or specifically approved by Nintendo, The Pokémon Company, or any other related entities. <br>Pokémon and all associated names, images, and trademarks are the property of their respective owners.</h5>
          <br><br><br>
        </div>
      </div>
    </div>
</body>

</html>