<!doctype html>
<html lang="en">

<head>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="container-home">
      <div id="login">
        <h1 id="title">POKÉMONIFY</h1>
        <h2 id="title-caption">What Pokémon are you based on your listening history?</h2>
        <br><br>
        <a id="login-button" href="/login">Spotify Login</a>
      </div>
      <div id="loading" display="none">
        <img id="load-gif">
      </div>
      <br>
      <div class="info">
        <h4 id="login-credits" >Made by <a href="https://www.linkedin.com/in/joshua-silva-359756177/">Joshua Silva</a></h4>
        <br><br><br>
      </div>
    </div>
</body>

</html>